# Copyright (c) 2024 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

config BOARD_ROYALBLUE54L
	select SOC_NRF54L15_CPUAPP if BOARD_ROYALBLUE54L_NRF54L15_CPUAPP || BOARD_ROYALBLUE54L_NRF54L15_CPUAPP_NS
	select SOC_NRF54L15_CPUFLPR if BOARD_ROYALBLUE54L_NRF54L15_CPUFLPR || \
					    BOARD_ROYALBLUE54L_NRF54L15_CPUFLPR_XIP
